@model projet_csharp_travel_plan.DTO.ActiviteDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActiviteDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbEvaluation" class="control-label"></label>
                <input asp-for="NbEvaluation" class="form-control" />
                <span asp-validation-for="NbEvaluation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeuresMoyennes" class="control-label"></label>
                <input asp-for="HeuresMoyennes" class="form-control" />
                <span asp-validation-for="HeuresMoyennes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomFournisseur" class="control-label"></label>
                <input asp-for="NomFournisseur" class="form-control" />
                <span asp-validation-for="NomFournisseur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipementInclu" class="control-label"></label>
                <input asp-for="EquipementInclu" class="form-control" />
                <span asp-validation-for="EquipementInclu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuideAudio" class="control-label"></label>
                <input asp-for="GuideAudio" class="form-control" />
                <span asp-validation-for="GuideAudio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisiteGuidee" class="control-label"></label>
                <input asp-for="VisiteGuidee" class="form-control" />
                <span asp-validation-for="VisiteGuidee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomPays" class="control-label"></label>
                <input asp-for="NomPays" class="form-control" />
                <span asp-validation-for="NomPays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomCategorie" class="control-label"></label>
                <input asp-for="NomCategorie" class="form-control" />
                <span asp-validation-for="NomCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
