@model projet_csharp_travel_plan_frontend.DTO.VoyageDTO

@{
    ViewData["Title"] = "Ajouter un Voyage";
}

<h1>Ajouter un Nouveau Voyage</h1>

<form id="voyageForm" asp-action="Create" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date de Début</label>
        <div class="col-sm-10">
            <input type="date" asp-for="DateDebut" class="form-control" />
            <span asp-validation-for="DateDebut" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date de Fin</label>
        <div class="col-sm-10">
            <input type="date" asp-for="DateFin" class="form-control" />
            <span asp-validation-for="DateFin" class="text-danger"></span>
        </div>
    </div>
   @*  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pays</label>
        <div class="col-sm-10">
            <select asp-for="SelectedPayId" class="form-control">
                <option value="">Sélectionnez un pays</option>
                @foreach (var pays in Model.Pays)
                {
                    <option value="@pays.Id">@pays.Nom</option>
                }
            </select>
            <span asp-validation-for="SelectedPayId" class="text-danger"></span>
        </div>
    </div> *@
    <div class="form-group">
        <!-- Vos champs de formulaire ici -->
        <button type="submit" class="btn btn-primary">Soumettre</button>
        <a asp-action="Index" asp-controller="Voyage" class="btn btn-secondary">Annuler</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('voyageForm');
            if (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault(); // Empêche l'envoi du formulaire pour l'instant

                    var dateDebut = document.querySelector('[name="DateDebut"]').value;
                    var dateFin = document.querySelector('[name="DateFin"]').value;
                    var selectedPayId = document.querySelector('[name="SelectedPayId"]').value;

                    console.log("Date de Début:", dateDebut);
                    console.log("Date de Fin:", dateFin);
                    console.log("Pays Sélectionné:", selectedPayId);

                    // Après avoir affiché les valeurs, vous pouvez soumettre le formulaire
                    // this.submit();
                });
            } else {
                console.error("Form with ID 'voyageForm' not found.");
            }
        });
    </script>
}

