@model IEnumerable<projet_csharp_travel_plan_frontend.DTO.VoyageDTO>

@{
    ViewData["Title"] = "Voyages en cours";
}

<h1>Voyages en cours</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Date de Début</th>
        <th>Date de Fin</th>
        <th>Pays</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var voyage in Model)
    {
        <tr>
            <td>@voyage.DateDebut.ToString("yyyy-MM-dd")</td>
            <td>@voyage.DateFin.ToString("yyyy-MM-dd")</td>
            <td>
                @if (voyage.Pay != null && voyage.Pays.Count > 0)
                {
                    <ul>
                    @foreach (var pays in voyage.Pays) 
                    {
                        <li>@pays.Nom</li>
                    }
                    </ul>
                }
                else
                {
                    <span>Pas de pays disponible</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Create" asp-controller="Voyage" class="btn btn-primary">Ajouter un nouveau voyage</a>
</div>
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Retour à l'accueil</a>
</div>