@model projet_csharp_travel_plan_frontend.Models.Logement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Logement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLogement" />
            <div class="form-group">
                <label asp-for="IdLogementLoc" class="control-label"></label>
                <input asp-for="IdLogementLoc" class="form-control" />
                <span asp-validation-for="IdLogementLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFournisseur" class="control-label"></label>
                <input asp-for="IdFournisseur" class="form-control" />
                <span asp-validation-for="IdFournisseur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLogementCategorie" class="control-label"></label>
                <input asp-for="IdLogementCategorie" class="form-control" />
                <span asp-validation-for="IdLogementCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPays" class="control-label"></label>
                <input asp-for="IdPays" class="form-control" />
                <span asp-validation-for="IdPays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbEvaluation" class="control-label"></label>
                <input asp-for="NbEvaluation" class="form-control" />
                <span asp-validation-for="NbEvaluation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
