@{
    ViewData["Title"] = "HOME";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur PlanTravel !</h1>
    <img src="travel_planning_image.png" alt="PlanTravel Image" class="img-fluid" style="max-width: 30%; height: auto; margin: 20px auto;">
    <p>
        Bienvenue sur PlanTravel, votre compagnon ultime pour la planification de voyages ! Que vous rêviez d'une escapade paisible à la plage, d'une aventure en montagne, ou d'une exploration culturelle en ville, PlanTravel est là pour réaliser vos rêves de voyage. Plongez dans notre plateforme intuitive où vous pouvez organiser chaque détail de votre voyage sans effort. Découvrez des destinations magnifiques, organisez votre itinéraire et profitez d'une expérience de voyage sans faille du début à la fin.
    </p>
    <p>
        Prêt à embarquer pour votre prochaine aventure ? Laissez PlanTravel vous guider à chaque étape. Nous sommes ravis de faire partie de votre voyage et de vous aider à créer des souvenirs inoubliables.
    </p>
    <p>
        Bienvenue à bord, et bon voyage !
    </p>
    <p>
        Passez une merveilleuse journée !
    </p>
</div>
