@model projet_csharp_travel_plan_frontend.Models.ErrorViewModel

@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Une erreur est survenue</h1>
<h2 class="text-danger">@Model.ErrorMessage</h2>

@if (!string.IsNullOrEmpty(Model.ErrorDetails))
{
    <div class="alert alert-danger">
        <p>Détails de l'erreur :</p>
        <pre>@Model.ErrorDetails</pre>
    </div>
}

<p>Veuillez réessayer plus tard ou contacter le support si le problème persiste.</p>
<p>Id de la requête : <code>@Model.RequestId</code></p>
